@import "variables";
@import "buttons";


body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.main-app-wrap {
  display: flex;
  height: 100%;
  flex-direction: column;
h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
  header {
    display: flex;
    align-content: center;
    justify-content: center;
    color:#fff;
    background: #f14e4e;
  }
  footer {
    height: 70px;
    background: #313b5e;
    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .main-app {
    overflow: auto;
    padding: 30px;
    flex:1;
    height: 100%;
    & .tour-wrap {
      display: flex;
      flex-wrap: wrap;

      & .tour-pic {
        width: 100%;
        height: 140px;
      }


      & > div {
        flex-direction: column;
        display: flex;
        width: 260px;
        height: 400px;
        padding: 4px;
        border: 1px solid grey;
        margin: 20px;
        &:hover {
          cursor: pointer;
        }

        &>div.ticket-description {
          flex: 1;
          height: 155px;
          text-overflow: ellipsis;
          overflow: hidden;
          padding: 10px;
        }
      }
    }
  }


}

.modal-element {
  color: $modal-text-color;
  background-color: $modal-background;
  height: 400px;
  width: 459px;
  position: fixed;
  box-shadow: 1px 1px 1px 2px #d7c7c7;
  top: 50%;
  left: 50%;
  padding: 6px;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

& a {
  text-decoration: none;
  color: #e4e9e7;

}
  & p {
    margin-bottom: 25px;
  }
  & .close-modal {
    position: absolute;
    top: 0;
    margin: 0;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    right: 3px;
  }
  & .ticket-submit {
    height: 45px;
    display: inline-block;
    background-color: cornflowerblue;
    padding: 8px;
    border: 1px solid rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));;
    border-radius: 20px;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }
  & .ticket-submit:hover {
    transform: translateY(-2px);

    transition: all .3s ease-in-out;
  }
}
.tour-block:hover {
  transform: translateY(-2px);
  transition: all .3s ease-in-out;
}
.tour-block {
  transition: all .3s ease-in-out;
}
p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.close-modal {
  padding: 12px;
  display: inline-block;
  transition: all .3s ease-in-out;
}

.close-modal:hover {
  transform: scale(1.5);
  transition: all .3s ease-in-out;
}

.confirm-block {
  text-align: center;
}


